.swiperWrapper {
    height: 600px;
    padding-left: 200px;
    box-sizing: border-box;
    margin-top: 300px;
}

.swiper {
    height: 100%;
    display: flex;
    position: relative;
}

.swipe {
    height: 100%;
    background: linear-gradient(270deg, rgba(94, 100, 255, 0.3) 3.17%, #5E64FF 95.58%);
    border-radius: 66px;
    box-sizing: border-box;
    padding: 50px 0 0 90px;
    min-width: 1092px;
    text-align: left;
    color: white;
    transition: transform 0.5s ease, filter 0.5s ease, margin-left 0.5s ease;
    position: absolute;
}

.swipe.prev{
    left: 0;
}

.swipe.active {
    transform: translateX(0);
    filter: blur(0);
}

.swipe.next {
    left: 792px;
}

.swipe:not(.active):not(.next):not(.prev){
    left: 1584px;
}

.swipe:not(.active){
    filter: blur(4px);
}

.swipe button {
    background-color: transparent;
    position: absolute;
    top: calc(50% - 21px);
    width: fit-content;
    height: fit-content;
}

.swipe button:first-of-type {
    left: 10px;
}

.swipe button:last-of-type {
    right: 10px;
}

.swipe h1 {
    width: 428px;
    font-size: 64px;
    line-height: 81px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    margin: 0;
}

.swipe p {
    width: 495px;
    font-size: 20px;
    line-height: 34px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}